@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
body{
    background-image: url(./d2d4e00f-16c6-4e6d-9eaf-76b8b615537a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    width: 100%;
    height: 20vh;
    margin-top: 10px;
}
nav{
    width: 100%;
    height: 20vh;   
}
.thr{
    visibility: hidden;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    color: white;
}
img{
    width: 12vw;
    padding-left: 70px;
}
.one{
    float: left;
    font-size: 20px;
}
.two{
    float: right;
    margin-right: 30px;
}
main{
    width: 100%;
    height: 80vh;
    padding: 50px;
}
.telebe{
    font-size: 50px;
    color:#30FFCD;
}
.lorem{
    color: white;
    padding-top: 50px;
}
.fevral{
    padding-top: 50px;
    color: white;
    text-decoration: underline dashed orange;
}
@media only screen and (max-width:600px){
    li{
        visibility: hidden;
    }
    .thr{
        float: left;
        visibility: visible;
        font-size: 50px;
    }
}